In [138]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\Users\renat\OneDrive\Área de Trabalho\projeto 2 cdados\22-2a-cd-p2-grupo_bexcamrefe

INTRODUÇÃO
Explicar objetivo do trabalho
Apresentar banco de dados
Definição de Target e Feature

Prever se um voo em Janeiro vai ser cancelado ou desviado com base na companhia aérea e a distância do voo. 

MINERAÇÃO DE DADOS
Limpeza do dataset

In [139]:
dados_2019 = pd.read_csv('Jan_2019_ontime.csv')
# manter: OP_CARRIER, ORIGIN, DESTINATION, CANCELLED, DIVERTED, DISTANCE
dados_2019.head(5)

Novos_dados_2019 = dados_2019.loc[:,['OP_CARRIER','ORIGIN', 'DEST','ARR_DEL15','CANCELLED','DIVERTED','DISTANCE']]
Novos_dados_2019["Ano"]="2019"
Novos_dados_2019.head()

  OP_CARRIER ORIGIN DEST  ARR_DEL15  CANCELLED  DIVERTED  DISTANCE   Ano
0         9E    GNV  ATL        0.0        0.0       0.0     300.0  2019
1         9E    MSP  CVG        0.0        0.0       0.0     596.0  2019
2         9E    DTW  CVG        0.0        0.0       0.0     229.0  2019
3         9E    TLH  ATL        0.0        0.0       0.0     223.0  2019
4         9E    ATL  FSM        0.0        0.0       0.0     579.0  2019

In [140]:
dados_2020 = pd.read_csv('Jan_2020_ontime.csv')
# manter: OP_CARRIER, ORIGIN, DESTINATION, CANCELLED, DIVERTED, DISTANCE
dados_2020.head(5)

Novos_dados_2020 = dados_2020.loc[:,['OP_CARRIER','ORIGIN', 'DEST','ARR_DEL15','CANCELLED','DIVERTED','DISTANCE']]
Novos_dados_2020["Ano"]="2020"
Novos_dados_2020.head()

  OP_CARRIER ORIGIN DEST  ARR_DEL15  CANCELLED  DIVERTED  DISTANCE   Ano
0         EV    ORD  GRB        0.0        0.0       0.0     174.0  2020
1         EV    TUL  ORD        0.0        0.0       0.0     585.0  2020
2         EV    EWR  TYS        0.0        0.0       0.0     631.0  2020
3         EV    BTR  IAH        0.0        0.0       0.0     253.0  2020
4         EV    RIC  IAH        0.0        0.0       0.0    1157.0  2020

In [149]:
Dados_gerais = pd.merge(Novos_dados_2020 , Novos_dados_2019, how = 'outer') 

Treinamento = Dados_gerais.sample(frac = 0.7)

Teste = Dados_gerais.drop(Treinamento.index)

Treinamento['OP_CARRIER'] = Treinamento['OP_CARRIER'].astype('category')

In [151]:
Comparador = pd.read_csv('Pasta1.csv')
print(Comparador)

   OP_CARRIER                Airline Name
0          Dl             Delta Air Lines
1          AA     American Airlines Cargo
2          WN          Southwest Airlines
3          OO            SkyWest Airlines
4          UA       United Airlines Cargo
5          YX            Midwest Airlines
6          MQ                   Envoy air
7          B6                     JetBlue
8          9E                    Endeavor
9          AS             Alaska Airlines
10         YV               Mesa Airlines
11         NK             Spirit Airlines
12         EV  Atlatic Southeast Airlines
13         F9             FRONTIER FLIGHT
14         G4               Allegiant Air
15         HA           Hawaiian Airlines
16         OH     Comair Delta Connection

In [153]:
Treinamento['OP_CARRIER'].cat.categories = [' Endeavor','American Airlines Cargo','Alaska Airlines','JetBlue','Delta Air Lines','Atlatic Southeast Airlines','Frontier Flight','Allegiant Air','Hawaiian Airlines','Envoy Air','Spirit Airlines','Comair Delta Connection','SkyWest Airlines','United Airlines Cargo','Southwest Airlines','Mesa Airlines','Midwest Airlines']

In [154]:
Treinamento.head(5)

,OP_CARRIER,ORIGIN,DEST,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Ano
736271,SkyWest Airlines,ATL,BQK,0.0,0.0,0.0,238.0,2019
592487,United Airlines Cargo,EWR,BNA,1.0,0.0,0.0,748.0,2020
571342,SkyWest Airlines,SAT,SLC,0.0,0.0,0.0,1087.0,2020
864919,Alaska Airlines,ORD,SEA,0.0,0.0,0.0,1721.0,2019
46584,Southwest Airlines,IND,PHX,0.0,0.0,0.0,1488.0,2020

In [155]:
Cancelados = Treinamento['CANCELLED'] == 1
Voo_cancelados = Treinamento.loc[Cancelados,:]
print(len(Voo_cancelados))
Voo_cancelados.isnull().sum()

16677

OP_CARRIER        0
ORIGIN            0
DEST              0
ARR_DEL15     16677
CANCELLED         0
DIVERTED          0
DISTANCE          0
Ano               0
dtype: int64

In [156]:
Desviados = Treinamento['DIVERTED'] == 1
Voo_Desviados = Treinamento.loc[Desviados,:]
print(len(Voo_Desviados))
Voo_Desviados

1707

,OP_CARRIER,ORIGIN,DEST,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Ano
1181339,Alaska Airlines,PDX,LIH,NaN,0.0,1.0,2631.0,2019
604741,Atlatic Southeast Airlines,MTJ,ORD,NaN,0.0,1.0,1081.0,2020
597428,SkyWest Airlines,DTW,ESC,NaN,0.0,1.0,306.0,2020
1188598,Delta Air Lines,MCI,DTW,NaN,0.0,1.0,629.0,2019
599966,Envoy Air,BUF,ORD,NaN,0.0,1.0,473.0,2020
...,...,...,...,...,...,...,...,...
603501,Envoy Air,MIA,CMH,NaN,0.0,1.0,990.0,2020
604588,United Airlines Cargo,DFW,ORD,NaN,0.0,1.0,801.0,2020
596697,American Airlines Cargo,DCA,DFW,NaN,0.0,1.0,1192.0,2020
605165,SkyWest Airlines,RST,FAR,NaN,0.0,1.0,295.0,2020
1177730,SkyWest Airlines,DEN,EAR,NaN,0.0,1.0,305.0,2019

In [157]:
Nao_desviade = Treinamento['DIVERTED'] == 0
Nao_cancelade = Treinamento['CANCELLED'] == 0
nao_desvi = Treinamento.loc[Nao_desviade,:]
Nao_cancelade_nem_desviade = nao_desvi.loc[Nao_cancelade,:]
print(len(Nao_cancelade_nem_desviade))
Nao_cancelade_nem_desviade

815548

,OP_CARRIER,ORIGIN,DEST,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Ano
736271,SkyWest Airlines,ATL,BQK,0.0,0.0,0.0,238.0,2019
592487,United Airlines Cargo,EWR,BNA,1.0,0.0,0.0,748.0,2020
571342,SkyWest Airlines,SAT,SLC,0.0,0.0,0.0,1087.0,2020
864919,Alaska Airlines,ORD,SEA,0.0,0.0,0.0,1721.0,2019
46584,Southwest Airlines,IND,PHX,0.0,0.0,0.0,1488.0,2020
...,...,...,...,...,...,...,...,...
160379,Endeavor,ATL,SHV,0.0,0.0,0.0,551.0,2020
81346,Envoy Air,ORD,XNA,0.0,0.0,0.0,522.0,2020
1159204,SkyWest Airlines,CGI,PAH,0.0,0.0,0.0,45.0,2019
95002,JetBlue,DCA,BOS,0.0,0.0,0.0,399.0,2020
1047862,Delta Air Lines,MSY,LAX,0.0,0.0,0.0,1670.0,2019

MODELO DE PREDIÇÃO - RESULTADOS

VALIDAÇÃO DOS RESULTADOS

In [148]:
# código de validação de resultados